<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Momentary Lapse in Memory</title>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
  </head>
  <body>
    <div class="landing-content">
      <h1>Momentary lapse in memory</h1>
      <p>This is one of many overlooked events in history. Yugoslavia in 1999 was riddled with detonations, warning sirens, families huddled in basement shelters. NATO announced that it will be bombing the region to fight the oppressive regime of Slobodan Milo&#353evi&#263. Like many US-led military interventions, it was branded as a war that will bring peace and democracy to a region lacking it. Instead, it brought numerous civilian deaths and a legacy of radiation for future generations to make sense of.
        <br>
        <br>
        <br>
        <br>
      </p>
    </div>
    <div class="landing-container">
      <div class="landing-button-list">
        <a class="landing-button" href='/space?id=maja'><button>enter</button></a>
      </div>
    </div>
    <div class="landing-video-container">
      <video autoplay muted loop playsinline id="intro_vid">
        <source src="videos/intro_news_report.mp4" type="video/mp4">
      </video>
    </div>
    <iframe src="audio/radio.mp3" allow="autoplay" id="audio" style="display: none">
    </iframe>
  </body>
</html>