<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Momentary Lapse in Memory</title>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
  </head>
  <body>
    <div class="landing-content">
      <h1>Momentary Lapse in Memory</h1>
      <p>Momentary Lapse in Memory is an interactive digital environment concerning the memory landscape of the 1999 NATO bombing of Yugoslavia. It investigates the impact of ephemeral factors on the archival practice. By doing so, it makes space for the unreliable mechanisms of both memory and its transmission, to steer and sway.
        <br>
        <br>
        <br>
        <br>
      </p>
    </div>
    <div class="landing-container">
      <div class="landing-button-list">
        <a class="landing-button" href='/space?id=maja'><button>enter</button></a>
      </div>
    </div>
    <div class="landing-video-container">
      <video autoplay muted loop playsinline id="intro_vid">
        <source src="videos/intro_vid.mp4" type="video/mp4">
      </video>
    </div>
    <iframe src="audio/radio.mp3" allow="autoplay" id="audio" style="display: none">
    </iframe>
  </body>
</html>