body{
  background: black;
  /* background: linear-gradient(180deg, black, #8968ff); */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
 img{
     overflow: hidden;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     z-index: -2;
}
.top{
   background: linear-gradient(to right,rgba(1, 1, 1, 0.7), transparent);
   z-index: -1;
   width: 100vw;
   height: 100vw;
   position: absolute;
   pointer-events: none;
 }
 .content {
   position: absolute;
   font-family: Avara;
   top: 0;
   color: #f1f1f1;
   width: 100%;
   padding: 20px !important;
   padding-right: 20vw !important;
 }

 @font-face {
   font-family: Avara;
   src: url(avara.woff);
 }
 @font-face {
    font-family: AvaraBold;
    src: url(../fonts/avara-bolditalic.woff);
  }
 div {
   font-family: Avara;
 }
 h1{ width: 60vw;
    font-family: AvaraBold;
  font-size: 4.875rem;
}
p {width: 40vw;
  font-size: 1.375rem;
  line-height: 1.3;
}

.container{
 position: fixed;
 bottom: 0;
 right: 1rem;
}
.buttonz{
 display: flex;
 flex: row nowrap;
 padding: 0 0.5vw;
}

.container-scroll{
 width: 100%;
 overflow-x: scroll;
}
button {
 border: none;
 color: black;
 font-family: Avara;
 text-decoration: none;
 font-size: 2.25rem;
 margin: 1.2rem 0.2rem ;
 padding-top: 0.4rem;
 padding-left: 2rem;
 padding-right: 2rem;
 cursor: pointer;
 border-radius: 50px; 
 transition-duration: 0.4s;
 border: 0.2rem solid #f1f1f1;
}	
button:hover {
 background-color: transparent;
 color: blue;
 border: 0.2rem solid blue;
}

a { 
 text-decoration: none;
   color: black;
}
a:hover {
 color: white;
}


@media only screen and (max-width: 768px) {
 body{
   background-color: black;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow-y: scroll;
 }
 h1{ 
   width: 80vw;
   font-style: italic;
   font-size: 3.5rem;
 }
 p {
   width: 80vw;
   font-size: 1.375rem;
   line-height: 1.3;
   position: absolute;
 }
 
 .container{
   position: fixed;
   bottom: 0;
   left: 0vw;
 }
 .buttonz{
   display: flex;
   flex: row nowrap;
   padding: 0 0.5vw;
 }

 .container-scroll{
   width: 100%;
   overflow-x: scroll;
 }
 button {
   border: none;
   color: black;
   font-family: myFirstFont;
   text-decoration: none;
   /*  display: inline-block;*/
   font-size: 2.25rem;
   margin: 1.2rem 0.2rem ;
   padding-top: 0.4rem;
   padding-left: 2rem;
   padding-right: 2rem;
   cursor: pointer;
   border-radius: 50px; 
   transition-duration: 0.4s;
   border: 0.2rem solid #f1f1f1;
   } }

   @media (pointer: coarse) {

     button:hover {
       color: black;
       background-color: white;
     }

     a:hover {
       color: inherit;
     }
   }